---
import type { CollectionEntry } from 'astro:content';
import PostCard from './PostCard.astro';

interface Props {
	posts: CollectionEntry<'blog'>[];
}

const { posts } = Astro.props;
---

<div class="posts-masonry" data-post-grid="feed">
	{posts.map((post, index) => <PostCard post={post} index={index} />)}
</div>